<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <input
        type="text"
        class="form-control"
        name="searchString"
        placeholder="Type to search..."
        [(ngModel)]="searchString"
      />
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Quiz name</th>
      <th scope="col">Coach</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list | filter: 'title':searchString; index as i">
      <th scope="row">{{ item.qid }}</th>
      <td [routerLink]="['/quiz', i]">{{ item.title }}</td>
      <ng-container *ngFor="let user of users">
        <td *ngIf="user.uid == item.cid">{{ user.name }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
